/* ヘッダー　（緑） */

.header{
  position: fixed;
  z-index:100;
  top: 0;
  left: 0;
  width: 100%;
  height:60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background:#54c640;
}
.header a, .header a:hover, .header a:visited{
  text-decoration:none;
}

.logo{
  display: flex;
  flex-direction: row;
}
.logo img{
  height:45px;
  width:auto;
  margin:5px 0 0 5px;
}
.logo .logoname{
  font-size:10px;
  text-align:left;
  min-width:180px;
  line-height:1.5;
  margin:10px 0 0 10px;
  display:block;

  color:#fff;
}
.logo .logoname a, .logo .logoname a:hover, .logo .logoname a:visited{
  color:#fff;
}

@media screen and (max-width: 479px) {
  .logo .logoname{
    display:none;
  } }

.logo .logoname img{
  height:20px;
  width:auto;
  margin: 0 5px 0 0;
}
.headerRight{
  margin: 0 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right:5px;
}
.headerRight img{
  width:25px;
  height: auto;
  margin: 0 5px;
}
.headerRight a{
  margin: 0 5px;
}
.headerRight .username{
  color:#fff;
}
.headerRight a.username, .headerRight a.username:hover, .headerRight a.username:visited{
  color:#fff;
}

.droparea{
  position:absolute;
  top:60px;
  right:0;
  border:#eee;
  background:#fff;
  color:#333;
}
