/* ヘッダー　（緑） */

.header{
  min-height:60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background:#54c640;
  color:#fff;
}
.header a, .header a:hover, .header a:visited{
  text-decoration:none;
  color:#fff;
}

.logo{
  display: flex;
  flex-direction: row;
}
.logo img{
  height:50px;
  width:auto;
  margin:5px 0 0 5px;
}
.logo .logoname{
  font-size:10px;
  text-align:left;
  min-width:180px;
  line-height:1.5;
  margin:10px 0 0 10px;
}
.logo .logoname img{
  height:20px;
  width:auto;
  margin: 0 5px 0 0;
}
.headerRight{
  margin: 0 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerRight img{
  width:25px;
  height: auto;
}
.headerRight a{
  margin: 0 5px;
}