.container {
  padding: 0;
  margin:0;
}
.main {
  min-height: 100vh;
  padding: 0;
  margin:0;
}


/* ====================
	新しく作成したcss
	==================== */
/* common */
.header{
  min-height:35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background:#20c997;
  color:#555;
}
.logo{
  font-size:30px;
  color:#fff;
  height: 1em;
  margin-left: 0.5rem;
}
.username{
  margin: 0.4rem 0.5rem;
}
.username img{
  width:30px;
  height: auto;
  margin-left:20px;
}

.full_container{
  width:100%;
  padding: 0;
  margin:0;
}

.search_container{
  margin: 10px;
  border:#ccc 3px dotted;
  text-align:center;
}

.search_container p{
  color:#ccc;
  font-size:40px;
  margin:5px auto 30px;
  font-family:'Courier',sans-serif;
  font-weight:600;
}

 /* button style */
.btn_green{
  background:#20c997;
  color:#fff;
}
.btn_green:hover{
  background:#fff;
  color:#20c997;
}



 /* card layout */

 .card_content  { 
  width:100%;
  font-size:1.1em;
  margin: 20px 0;
  background:#f5f5f5;
  padding:10px 0;
}
.flex_container {
  width:98%;
  margin: 0 auto;
  display:-webkit-flex;
  display: flex;
  flex-direction : column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .flex_container {
      flex-direction : row;
      align-items: stretch;
  } }

.plain_card {
  font-size: 0.8em;
  background: #fff;
  width: 100%;
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction : row;
}
@media screen and (min-width: 768px) {
  .plain_card {
      width: 250px;
      min-width:250px;
      flex-direction : column;
  } }

.img_cont{
  width: 30%;
  height: 100%;
  position: relative;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .img_cont {
      width: 100%;
      height: 150px;
      flex-direction : column;
  } }

.fit_image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.txt_cont{
  margin:10px;
}
.plain_list {
  font-size: 0.8em;
  margin-left: -1.5em;
}




/* ====================
	元々入っていたcss
	==================== */
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

